{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-schedules">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Schedules</h1>
                <h2>Our routes are designed with you in mind.</h2>
                <h2>Your time is valueable.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="discoveryInfo" class="py-5 text-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>We offer a safe and confortable way to travel around the Island, with services between Victoria, Port Hardy, and Tofino.</p>
                    <br />
                    <h1>Let us take you there</h1>
                </div>
            </div>
            <br />
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>Nanaimo - Campbell</h3>
                    <p>4 trips a day</p>
                    <p>Monday to Saturday</p>
                </div>
                <div class="col-md-4">
                    <h3>Nanaimo - Tofino</h3>
                    <p>2 trips a day</p>
                    <p>Monday to Saturday</p>
                </div>                
                <div class="col-md-4">
                    <h3>Nanaimo - Victoria</h3>
                    <p>4 trips a day</p>
                    <p>Monday to Saturday</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Travel Information</h1>
                    <hr>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-luggage-cart fa-4x"></i>
                    <hr>
                    <h3>LUGGAGE</h3>
                    <p>1 large or 2 small luggage.</p>
                    <p>Bring you Bike or surfboard.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-paw fa-4x"></i>
                    <hr>
                    <h3>PETS</h3>
                    <p>Unfortunately our vehicles are not equiped to carrie any pets.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-wheelchair fa-4x"></i>
                    <hr>
                    <h3>ACCESSIBILITY</h3>
                    <p>Unfortunately our vehicles are not equiped for wheel chair access.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}