{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-safety">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Your Safety</h1>
                <h2>Our commitment</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="services" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Our Safety Guidelines</h1>
                    <hr>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-phone-volume fa-4x"></i>
                    <hr>
                    <h3>Cell Phones</h3>
                    <p>We ask our passengers to avoid talking on the phone for everyone's confort.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-utensils fa-4x"></i>
                    <hr>
                    <h3>Food & Drinks</h3>
                    <p>Only snacks like fruits, granola bars, and water our allowed in the van.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-male fa-4x"></i>
                    <hr>
                    <h3>Washroom</h3>
                    <p>Please make sure you use the washroom before embarquing.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-hourglass-end fa-4x"></i>
                    <hr>
                    <h3>Loading / Unloading</h3>
                    <p>Our dirvers will open the door for you, and load all of your luggage.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-hand-paper fa-4x"></i>
                    <hr>
                    <h3>Stop Requests</h3>
                    <p>Our drivers can only stop at our designated drop off  locations.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-exclamation fa-4x"></i>
                    <hr>
                    <h3>The Driver</h3>
                    <p>Please avoid talking with the driver while he is driving the vehicle.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}