{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-faq">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Common Questions</h1>
                <h2>We are here to answer you.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
{% endblock %}