{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section id="show-welcome" class="show-welcome-register">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Loyalty Program</h1>
                <h2>Loyal customers get compensation.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="contactUsInfo" class="py-5 text-primary">
        {% include 'partials/_alerts.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Create your account</h1>
                    <hr>
                </div>
            </div>
            <div class="p-5">
                <div class="p-5">
                <form action="{% url 'registerCostumer' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group{% if field.errors %} has error {% endif %}">
                            <label for="{{ field.id_for_label }}" class="col-form-label">
                                {{ field.label }}
                            </label>
                            {% render_field field class="form-control" %}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <p>Your information will never be shared with any other party</p>
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}