{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-tickets">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Tickets</h1>
                <h2>We make your trip easy and simple.</h2>
                <h2>Pay online or at the bus.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="buyTicket" class="py-5 text-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Buying a ticket</h1>
                    <p>You can purchase your ticket online by <a class="text-link" href="{% url 'booktrip' %}">Booking a trip</a>, or pay at the bus, with a debt or credit card.</p>
                    <p>Online booking can be made up to 1 hour before the chosen departure time.</p>
                    <p>Unfortunately for safety reasons, our drivers are not allowed to accept cash payments.</p>
                    <h1>Discounted Tickets</h1>
                    <p>BC Residents and passenger 65 years or older, with a valid form of governamental issued ID, with photo and birthdate, are eleigible for a 10% discount on any ticket, to any of our destinations.</p>
                    <p>If you are registered as a "loyal customer" you are elegible for a free ticket too</p>
                    <h1>Changes and Cancelations</h1>
                    <p>You can <a class="text-link" href="{% url 'login' %}">cancel or make changes to your reservantion</a> up to 6 hours before the depature time of your ticket <span class="text-und">purchased online</span>.</p>
                    <p>If you are a registered for loyalty program, you can change or cancel up to 2 hours before departure time.</p>
                    <p>You can not cancel or make changes to tickets purchased at the bus.</p>
                    <h1>If you are late</h1>
                    <p>If you are late and miss the bus, we may be able to accommodate you on the next bus on the same day to the same destination, if space is available.</p>
                    <p>You must call us as soon as possible to let us know you will be late, so we can hold an available seat on the next bus for you.</p>
                    <p><span class="text-bold">As a courtesy</span>, our drivers will wait for 5 extra minutes after departure time, if you call and let us know you are coming drivers will not waite any longer than 5 minutes, as we need to maintain our schedules.</p>
                    <p>Unfortunately  If you don’t show up for the trip, you will loose your ticket. Unless you can proove to us you had a conciderable reason to have missed the bus.</p>
                    <p>Send us an email to <a class="text-link" href="{% url 'contactus' %}">info@discoverybus.ca</a> with your explanation and we will respond to your inquiry.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}