/* --------------------------------------- Components--------------------------------------- */
img {
  width: 100%;
}
.text-link{
  font-weight: bold;
  color:#0066cc;
}
.text-link-und{
  text-decoration: underline;
}
.text-bold{
  font-weight: bold;
}
/* ---------------------------------------- Nav bar ---------------------------------------- */
.logo {
  width: 80px;
}
.navbar {
  opacity: 0.9;
  text-transform: uppercase; 
}
.social a {
  margin-right: 0.4rem;
}

/* ----------------------------------------- Index ----------------------------------------- */
#show-welcome {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
  padding-top: 6rem;
}
.show-welcome-index{
  background-image: url('../img/mario-mendez-MxxLminkATY-unsplash.jpg');
}
.show-welcome-tickets{
  background-image: url('../img/armon-arani-Zu4L4ERl_sw-unsplash.jpg');
}
.show-welcome-schedules{
  background-image: url('../img/matt-brett-m4UTb5H6EwA-unsplash.jpg');
}
.border-line {
  padding: 3% 1%;
  border-left: 5px ridge #fff;
}
.img-org{
  display: flex;
  align-items: center;
}
#services {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; 
}
#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}









.btn-secondary {
  color: #fff !important; }



#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
