{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-bookTrip">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Reservations</h1>
                <h2>It's a good idea to secure your seat.</h2>
                <h2>You can actually pick a seat.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="showcase-inner" class="showcase-search py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="">
                        {% csrf_token %}
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="eventDate">Departure date:</label>
                                <input type="text" id="eventDate" name="eventDate" maxlength="0">
                            </div>
                        </div>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        var datesAvailable = {{ date_avaliable|safe }};
    </script>
{% endblock %}