{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-bookTrip">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Reservations</h1>
                <h2>It's a good idea to secure your seat.</h2>
                <h2>You can actually pick a seat.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="showcase-inner" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <form action="">
                        {% csrf_token %}
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="eventDate">Departure date:</label>
                                    <input type="text" id="eventDate" name="eventDate" maxlength="0" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Board:</label>
                                    <select id="selectBoard" name="selectBoard" class="form-control" onchange="handleBoardSelection()">
                                        <option value="" selected>Select the date departure first.</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Destination:</label>
                                    <select id="selectDestination" name="selectDestination" class="form-control" onchange="handleDestinationSelection()">
                                        <option value="" selected>Select the board first.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label>Local Board:</label>
                                    <select id="selectLocalBoard" name="selectLocalBoard" class="form-control">
                                        <option value="" selected>Select the destination first.</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Local Destination:</label>
                                    <select id="selectLocalDestination" name="selectLocalDestination" class="form-control">
                                        <option value="" selected>Select the destination first.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        var datesAvailable = {{ date_avaliable|safe }};
    </script>
{% endblock %}