{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section id="show-welcome" class="show-welcome-contactUs">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Contact Us</h1>
                <h2>For questions, Ideas, and concerns</h2>
                <h2>or any other inquiries.</h2>
            </div>
            <div>
                <a href="{% url 'contactus' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'booktrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="contactUsInfo" class="py-5 text-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Please let us know how we can help you</h1>
                    <hr>
                    <h3>We will contact you right the way</h3>
                    <h4>If it is urgent we will call you</h4>
                </div>
            </div>
            <div class="p-5">
                <div class="p-5">
                <form action="{% url 'email' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group{% if field.errors %} has error {% endif %}">
                            <label for="{{ field.id_for_label }}" class="col-form-label">
                                {{ field.label }}
                            </label>
                            {% render_field field class="form-control" %}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <input type="submit" value="Send" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}