{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-contactUs">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Contact Us</h1>
                <h2>For questions, Ideas, and concerns</h2>
                <h2>or any other inquiries.</h2>
            </div>
            <div>
                <a href="{% url 'contactUs' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'bookTrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="contactUsInfo" class="py-5 text-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Please let us know how we can help you</h1>
                    <hr>
                    <h3>We will contact you right the way</h3>
                    <h4>If it is urgent we will call you</h4>
                </div>
            </div>
    </section>
{% endblock %}