{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-index">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Connecting the Island</h1>
                <h2>Convenient and Confortable Transportation.</h2>
                <h2>Lets us take you there.</h2>
            </div>
            <div>
                <a href="{% url 'contactUs' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'bookTrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="services" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <a class="col-md-4" href="{% url 'tickets' %}">
                    <i class="fas fa-money-bill fa-4x"></i>
                    <hr>
                    <h3>Tickets</h3>
                    <p>You can pay online or at the bus</p>
                </a>
                <a class="col-md-4" href="{% url 'schedules' %}">
                    <i class="fas fa-route fa-4x"></i>
                    <hr>
                    <h3>Schedules</h3>
                    <p>From Victoria to Campbell to Tofino</p>
                </a>
                <a class="col-md-4" href="{% url 'bookTrip' %}">
                    <i class="fas fa-bus fa-4x"></i>
                    <hr>
                    <h3>Book Trip</h3>
                    <p>Reserve your seat at any time</p>
                </a>
            </div>
        </div>
    </section>
    <section id="loyalty" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Loyalty Program</h1>
                    <hr>
                    <p>Make changes to your reservations upt to 2 hours before departure time</p>
                    <p>Get a free trip to any of our connections for every 5 tickets you purchase</p>
                    <p>Get 10% discount when you travel with a family member</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Register Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}