{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-index">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Connecting the Island</h1>
                <h2>Reliable and Convenient Transportation</h2>
                <h2>Safety and Confort are priorities</h2>
                <h2>Lets us take you there</h2>
            </div>
            <div>
                <a href="{% url 'bookTrip' %}" class="btn btn-primary">Book Trip</a>
            </div>
        </div>
    </section>
    <section id="services" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <a class="col-md-4" href="{% url 'tickets' %}">
                    <i class="fas fa-money-bill fa-4x"></i>
                    <hr>
                    <h3>Tickets</h3>
                    <p>We make buying tickets easy and simple</p>
                </a>
                <a class="col-md-4" href="{% url 'schedules' %}">
                    <i class="fas fa-route fa-4x"></i>
                    <hr>
                    <h3>Schedules</h3>
                    <p>Connectting the Island from coast to coast </p>
                </a>
                <a class="col-md-4" href="{% url 'bookTrip' %}">
                    <i class="fas fa-bus fa-4x"></i>
                    <hr>
                    <h3>Book Trip</h3>
                    <p>Make a reservation up to 2 hrs before departure</p>
                </a>
            </div>
        </div>
    </section>
    <section id="loyalty" class="py-5 text-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Loyalty Program</h1>
                    <hr>
                    <p>Register with us today and take advantage of our loyalty program As a loyal customer you will be able to :</p>
                    <p>Track and print all your trips and receipts online.</p>
                    <p>Make changes to your reservations upt to 24 hrs before departure.</p>
                    <p>Get a free trip to any of our connections for every 5 tickets purchased.</p>
                    <p>Get 10% discount on your tickets when you travel with a family member.</p>
                    <a href="{% url 'loyaltyRegister' %}" class="btn btn-primary">Register Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}