{% extends 'base.html' %}
{% block content %}
    <section id="show-welcome" class="show-welcome-termsConditions">
        <div class="img-org">
            <div class="col-md-8 offset-md-2 border-line">
                <h1>Our Policies</h1>
                <h2>---</h2>
            </div>
            <div>
                <a href="{% url 'contactUs' %}" class="btn btn-primary">Contact Us</a>
                <br />
                <a href="{% url 'bookTrip' %}" class="btn btn-primary-sec">Book Trip</a>
            </div>
        </div>
    </section>
{% endblock %}