<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white">
  <h1 class="col-md-3">About Us</h1>
  <div class="col-md-8 offset-md-2">
    <p>Discovery Bus was created to accommodate the public demand for reliable, safe and confortable transportation service, to connect passengers to all corners of the Island.</p>
    <p>We offer innercity bus service from Victoria to Port Hardy to Tofino, with diferent routes connecting the main cities, towns and vilaggers along the Island.</p>
    <p>Discovery Bus also offer shipping services trought all of our routes. Please contact us for more information on this service.</p>
    <p>And we rent out vans for charter services as wedings, day trips, and more.</p>
  </div>
  <div class="text-center">
    Copyright &copy;
    <span class="year"></span> Discovery Bus Ltd. All rights reserved. <a class="text-link-und text-white" href="{% url 'privacyPolicy' %}">Privacy Policy</a> | <a class="text-link-und text-white" href="{% url 'termsConditions' %}">Terms and Conditions</a>
  </div>
</footer>