<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white">
  <h1 class="col-md-3">Travel with us</h1>
  <div class="col-md-8 offset-md-2">
    <p>Discovery Bus was created to accommodate the public demand for reliable and safe transportation, to connect to the shores of the Island.</p>
    <p>Our busses rides from Victoria to Port Hardy to Tofino with stops at the main cities, towns, and villages.</p>
    <p>Discovery Bus ltd. also offer shipping services trought all of our routes.</p>
    <p>Please <a class="text-link-und text-white" href="{% url 'contactus' %}">contact us</a> for more information on this service.</p>
    <p>And we rent our vans for charter services as wedings, day trips, birthdays, and other events.</p>
  </div>
  <div class="text-center">
    &copy;
    <span class="year"></span> Discovery Bus ltd. All rights reserved. <a class="text-link-und text-white" href="{% url 'privacypolicy' %}">Privacy Policy</a> | <a class="text-link-und text-white" href="{% url 'termsconditions' %}">Terms and Conditions</a>
  </div>
</footer>